// Colors

$body: #e5e7e9;
$main-color: #3d6b99;
$sub-color: #cc2014;
$light-red: #ff6840;
$dark-blue: #192d40;

// Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
